.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 750px;
  background-color: #f4f4f4;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  color: #36454f;
  padding: 20px 30px;
}

.nothing-to-do {
  text-align: center;
  margin: auto;
}
.task-list-div {
  padding: 20px;
  line-height: 2.5rem;
}
.task-list {
  list-style: none;
  text-align: left;
  font-weight: 500;
}

.add-task-btn {
  height: 40px;
  background-color: #36454f;
  color: #f4f4f4;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.8;
  cursor: pointer;
  font-weight: 600;
  padding: 7px 20px;
  white-space: nowrap;
}
.add-task-input-box {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 1.2rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.add-task-parent-div {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}
.list-items {
  display: flex;
  justify-content: space-between;
}

.completed {
  height: 30%;
  border-top: 1px solid #36454f4d;
  color: #36454f;
}
.action-icons-parent {
  display: flex;
  gap: 10px;
}
.action-icon.edit {
  height: 1.1rem;
  fill: #36454f;
  opacity: 0.5;
}

.action-icon.done {
  height: 1.1rem;
  fill: #5afb03;
  opacity: 0.5;
}
.action-icon.delete {
  height: 1.1rem;
  fill: #fb2c03;
  opacity: 0.5;
}
.action-icon:hover {
  opacity: 1;
}
.action-icon.done:hover {
  fill: #f4f4f4;
  opacity: 0.5;
  background-color: #5afb03;
}
.completed-task-list {
  padding: 30px;
  list-style: square;
  text-align: left;
  text-decoration: line-through;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .add-task-btn {
    margin-right: 25px;
  }
  .add-task-input-box {
    width: 200px;
  }
  .main {
    border-radius: 0;
  }
  .nothing-to-do-image {
    width: 80%;
    margin-bottom: 30px;
  }
}
