<div class="container">
  <div class="main">
    <h1>{{ title }}</h1>
    <h2>Plan your task and achieve maximum productivity</h2>
    <div class="add-task-parent-div">
      <input
        [(ngModel)]="newTask"
        placeholder="Enter new task"
        type="text"
        class="add-task-input-box"
      />
      <a (click)="handleAddTask()" class="add-task-btn">Add Task</a>
    </div>
    <div class="task-list-div">
      <ul class="task-list">
        <li *ngFor="let item of tasks" class="list-items">
          <div>
            <input type="radio" id="item" />&nbsp;&nbsp;<label for="item">{{
              item
            }}</label>
          </div>
          <div>
            <button (click)="handleDelete()">Delete</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="nothing-to-do">
      <img
        *ngIf="getTasksItems() === 0"
        src="nothing-to-do.png"
        alt="nothing to do image"
      />
    </div>
  </div>
</div>
